*{
  margin: 0;
  padding: 0;
}
body{
	background: url("images\\aboutella2.jpg") no-repeat;
	background-size:cover;
  background-attachment: fixed;
}
.back{
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 99;
  text-decoration: none;
}
.abtella{
  position: absolute;
  top: 90px;
  left: 70px;
  width: 1350px;
  height: 850px;
  background: rgba(255,255,255,.9);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
label.logo1{
color:black;
font-size:45px;
line-height:80px;
padding: 0 20px;
font-family: 'Cookie', cursive;
}
.topic{
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 25px;
  left: 500px;
}
.ella1{
  position: absolute;
  top: 97px;
  left: 40px;
  width: 400px;
  height: 250px;
}
.ella2{
  position: absolute;
  top: 97px;
  left: 477px;
  width: 400px;
  height: 250px;
}
.ella3{
  position: absolute;
  top: 97px;
  left: 910px;
  width: 400px;
  height: 250px;
}
.descriptionaboutella{
  position: absolute;
  width:1270px;
  height: 430px;
  top: 390px;
  left:40px;
  font-family: 'Open Sans', sans-serif;
}
