@charset "utf-8";
/* CSS Document */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana;
}

.imagecolumn {
    float: left;
    width: 20%;
    padding: 2.5px;
}

.imagecolumn img {
    opacity: 0.80;
    cursor: pointer;
}

.imagecolumn img:hover {
    opacity: 1.0;
}

.imagerow:after {
    content: "";
    display: table;
    clear: both;
}

.imagecontainer {
    position: relative;
    display: none;

}

.closebutton {
    position: absolute;
    top: 10.0px;
    right: 15.0px;
    color: white;
    font-size: 35.0px;
    cursor: pointer;
}
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
}

li {
    float: left;
}

li a, .navdropbutton {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14.5px 16.5px;
    text-decoration: none;
}

li a:hover, .dropdownList:hover .navdropbutton {
    background-color: gray;
}

li.dropdownList {
    display: inline-block;
}

.dropdownListcontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownListcontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdownListcontent a:hover {background-color: #ffffff}

.dropdownList:hover .dropdownListcontent {
    display: block;
}
.footer2{
  position: absolute;
  width: 100%;
  height:400px;
  top: 1400px;
  background-color: #18181a;

}
.pg-editor{
    position: absolute;
    left: 1080px;
    height: 250px;
    width: 250px;
    top: 40px;
    text-align: center;
    color: white;
    font-size: 20px;
    border: white;
    border-radius: 2px;
}
