*{
  margin: 0;
  padding: 0;
}
body{
	background: url("images\\newps.jpg") no-repeat;
	background-size:cover;
}
.back{
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 99;
  text-decoration: none;
}
ul{
  padding:0px;
  margin:0px;
  list-style:none;
	box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
	margin-right:20px;
  float: right;

  top:-7px;

  }
nav{
  height:80px;
  width:100%;
}
nav .current{
  background-color: black;
}
nav ul li{
  display:inline-block;
	line-height:80px;
	margin:0 5px;
}
nav ul{
  position: sticky;
}
nav ul li a{
  color:white;
	font-size:20px;
	padding:10px 20px;
	border-radius: 50px;
	text-decoration:none;
}
nav ul li a:hover{
  background:#EFFBF8;
	color:black;
  transition: all 0.9s ease 0s;
}
label.logo{
	color:black;
	font-size:45px;
	line-height:80px;
	padding: 0 20px;
	font-family: 'Cookie', cursive;
}
.box1 {
	position:absolute;
	top:320px;
	left:330px;
	font-family: 'Caveat', cursive ;
	color:white;
	width:500px;
	height:50px;
	font-size:40px;
}

.boxx1{
  position: absolute;
  text-align: center;
  color: white;
  top: 100px;
  right: 1100px;
  width: 300px;
  height: 400px;
  transition: 1s;
}
.boxx1:hover{
  transform:scale(1.1);
}
.galle{
  position: absolute;
  top: 370px;
  right: 120px;
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
}
.image1{
  width: 300px;
  height: 400px;
}
.mainBOX{
  width: 100%;;
  height: 600px;
  background-color: black;
  position: absolute;
  top: 600px;
}
.box2 {
	position:absolute;
	top:30px;
	left:630px;
	font-family: 'Asap Condensed',cursive ;
	color:white;
	width:500px;
	height:50px;
	font-size:30px;
}
.boxx2{
  position: absolute;
  text-align: center;
  color: white;
  top: 100px;
  left: 445px;
  width: 300px;
  height: 400px;
  transition: 1s;
}
.boxx2:hover{
  transform:scale(1.1);
}
.ella{
  position: absolute;
  top: 370px;
  right: 120px;
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
}
.boxx3{
  position: absolute;
  text-align: center;
  color: white;
  top: 100px;
  left: 770px;
  width: 300px;
  height: 400px;
  transition: 1s;
}
.boxx3:hover{
  transform:scale(1.1);
}
.yala{
  position: absolute;
  top: 370px;
  right: 35px;
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
}
.boxx4{
  position: absolute;
  text-align: center;
  color: white;
  top: 100px;
  left: 1100px;
  width: 300px;
  height: 400px;
  transition: 1s;
}
.boxx4:hover{
  transform:scale(1.1);
}
.jaffna{
  position: absolute;
  top: 370px;
  right: 120px;
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
}
.mainBOX2{
  width: 100%;;
  height: 400px;
  background-color: black;
  position: absolute;
  top: 1950px;
  background-image: url("images\\jungle2.jpg");
  background-size:cover;

}
.polaroid{
  position: absolute;
  width: 420px;;
  top: 40px;
  left: 120px;
  background-color: white;
  box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 100px;
}
.container{
  text-align: center;
  padding: 10px 20px;
  font-family: 'Poiret One',cursive ;
  font-size: 29px;
}
.image{
  width: 420px;
  height: 250px;
}
.descriptionBOX{
  position: relative;
  top:70px;
  left: 870px;
  width:550px;
  height: 200px;
  padding: 30px;
  background: rgba(255,255,255,.6);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.mainBOX3{
  width: 100%;;
  height: 400px;
  background-color: black;
  position: absolute;
  top: 2400px;
  background-image: url("images\\history.jpg");
  background-size: cover;

}
.polaroid2{
  position: absolute;
  width: 420px;;
  top: 40px;
  right: 120px;
  background-color: white;
  box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 100px;
}
.descriptionBOX2{
  position: relative;
  top:70px;
  left:115px;
  width:550px;
  height: 200px;
  padding: 30px;
  background: rgba(255,255,255,.8);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}
.mainBOX4{
  width: 100%;;
  height: 400px;
  background-color: black;
  position: absolute;
  top: 2850px;
  background-image: url("images\\arts.jpg");
  background-size: cover;
}
.polaroid3{
  position: absolute;
  width: 420px;;
  top: 40px;
  left: 120px;
  background-color: white;
  box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 100px;
}
.descriptionBOX3{
  position: relative;
  top:70px;
  left: 870px;
  width:550px;
  height: 200px;
  padding: 30px;
  background: rgba(255,255,255,.6);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.mainBOX5{
  width: 100%;;
  height: 400px;
  background-color: black;
  position: absolute;
  top: 3300px;
  background-image: url("images\\shop.jpg");
  background-size: cover;
}
.polaroid4{
  position: absolute;
  width: 420px;;
  top: 40px;
  right: 120px;
  background-color: white;
  box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 100px;
}
.descriptionBOX4{
  position: relative;
  top:70px;
  left:115px;
  width:550px;
  height: 200px;
  padding: 30px;
  background: rgba(255,255,255,.8);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}
.mainBOX6{
  width: 100%;;
  height: 400px;
  background-color: black;
  position: absolute;
  top: 3750px;
  background-image: url("images\\Ayurveda.jpg");
  background-size: cover;
}
.polaroid5{
  position: absolute;
  width: 420px;;
  top: 40px;
  left: 120px;
  background-color: white;
  box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 100px;
}
.descriptionBOX5{
  position: relative;
  top:70px;
  left: 870px;
  width:550px;
  height: 200px;
  padding: 30px;
  background: rgba(255,255,255,.6);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.mainBOX7{
  width: 100%;;
  height: 750px;
  background-color: white;
  position: absolute;
  top: 1200px;
}
.topicsl{
  position: absolute;
  height: 50px;
  width: 700px;
  top: 70px;
  left:70px;
  font-size: 60px;
  font-family: 'Asap Condensed',cursive ;
  color: red;
}
.picofsl{
  position: absolute;
  top: 150px;
  left: 1000px;
}
.aboutsl{
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top:200px;
  left: 70px;

  width: 800px;
  height: 500px;
  font-size: 20px;
}
.team{
  position: absolute;
  width: 100%;
  height: 550px;
  top: 4150px;

}
.topic{
  position: absolute;
  top: 40px;
  width: 700px;
  height: 200px;
  left: 650px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}
.mem1{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 150px;
  left: 120px;
}
.propic{
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  transition:.9s ease;
}
.about{
  transition: .5 ease;
  opacity: 0;
  position: absolute;
  top: 20%;
  left: 23%;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}
.aboutus{
  color: black;
}
.mem1:hover .propic{
  opacity: 0.1;
}
.mem1:hover .about{
  opacity: 1;
}
.mem2{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 150px;
  left: 450px;
}
.mem2:hover .propic{
  opacity: 0.1;
}
.mem2:hover .about{
  opacity: 1;
}
.mem3{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 150px;
  left: 780px;
}
.mem3:hover .propic{
  opacity: 0.1;
}
.mem3:hover .about{
  opacity: 1;
}
.mem4{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 150px;
  left: 1110px;
}
.mem4:hover .propic{
  opacity: 0.1;
}
.mem4:hover .about{
  opacity: 1;
}
.footer{
  position: absolute;
  width: 100%;
  height:400px;
  top: 4700px;
  background-color: #18181a;

}
.logo_container{
  color: white;
  font-size: 40px;
  position: absolute;
  left: 70px;
  font-family: 'Cookie', cursive;
  top: 100px;
}
.footer_third{
  width: 300px;
  height: 200px;
  position: absolute;
  left: 350px;
  top: 100px;


}
.footer_third h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  color: white;
}
.footer_third a{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.footer_third1{
  width: 300px;
  height: 200px;
  position: absolute;
  left: 640px;
  top: 100px;


}
.footer_third1 h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  color: white;
}
.footer_third1 a{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.footer_third2{
  width: 500px;
  height: 200px;
  position: absolute;
  left: 840px;
  top: 100px;
}
.footer_third2 h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  color: white;
}
.footer_third2 p{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: white;
  text-decoration: none;
}
.fb1{
  width: 65px;
  height: 65px;
  position: absolute;
  top:159px;
}
.insta1{
  width: 46px;
  height: 46px;
  position: absolute;
  top:170px;
  left: 70px;
}
.tw2{
  width: 46px;
  height: 46px;
  position: absolute;
  top:170px;
  left: 134px;
}
.wt2{
  width: 26px;
  height: 26px;
  position: absolute;
  top: 178px;
  left: 144px;
  background-color: white;
}
.top{
  position: fixed;
  bottom: 20px;
  right: 47px;
  z-index: 90;
  width: 90px;

  height: 20px;
  background-color: white;
}
.back{
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 99;
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.pg-editor{
  position: absolute;
  left: 1080px;
  height: 250px;
  width: 250px;
  top: 40px;
  text-align: center;
  color: white;
  font-size: 25px;
  border: white;
  border-radius: 2px;
}
