@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: fantasy;
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}



html {
    margin: 0;
    padding: 0;
    min-height: 100%;
}
body {

    padding: 0;
    margin: 0;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Images/storeback.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;

  }
.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid white
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: white
}
nav .current{
  background-color: black;
} 
.main-header {
    background-color: white;
    background-image: url("Images/Header Background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.cart-section{
    position: relative;
    left: 800px;
}

.container {
    position: absolute;
    max-width: 680px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: fantasy;
    font-weight: normal;
    color:white;
    text-align: center;
    font-size: 2.5em;
}

.butn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.butn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color:white;
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.butn-header:hover {
    background-color: white;
    color:blue ;
}

.butn-play {
    display: block;
    margin: 0 auto;
    color: green;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.butn-primary {
    color: white;
    background-color: rgb(2, 53, 68);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.butn-primary:hover {
    background-color: #2D9CDB;
}

.tour-row {
    border-bottom: 1px solid white;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color:white;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-butn {
    max-width: 19%;
}

.item {
    margin: 25px;
    border-style: solid;

}

.itemname {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color:white;
    margin-bottom: 15px;
}

.itempic {
    height: 250px;
    width: 250px;

}

.iteminfo {
    display: flex;
    align-items: center;
    padding: 5px;
}

.price {
    font-family: 'Times New Roman', Times, serif;
    color:white;
    font-size: 30px;
    flex-grow: 1;

}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

/****************************************************************CART******************************************************/

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: white;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: white;
}

.cart-quantity {
    width: 35%;
}

.cart-itemname {
    color:white;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-itempic {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.butn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.butn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color:white;
    margin-right: 20px;
}

.cart-total-price {
    color: white;
    font-size: 30px;
}

.butn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
/****************************************************************NAVIGATION******************************************************/

*{
    margin: 0;
    padding: 0;
  }
  ul{
  padding:0px;
  margin:0px;
  list-style:none;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin-right:20px;
  float: right;
  top:80px;

  }
  nav{
  height:80px;
  width:100%;
  }
  nav ul li{
  display:inline-block;
  line-height:80px;
  margin:0 5px;
  }
  nav ul{
  position: sticky;
  }
  nav ul li a{
  color:white;
  font-size:20px;
  padding:10px 20px;
  border-radius: 50px;
  text-decoration:none;
  }
  nav ul li a:hover{
  background:#EFFBF8;
  color:black;
  transition: all 0.9s ease 0s;
  }
  label.logo{
  color:black;
  font-size:45px;
  line-height:80px;
  padding: 0 20px;
  font-family: 'Cookie', cursive;
  }
  .footer{
    position: absolute;
    width: 100%;
    height:400px;
    top: 1000px;
    background-color: #18181a;

  }
  .logo_container{
    color: white;
    font-size: 40px;
    position: absolute;
    left: 70px;
    font-family: 'Cookie', cursive;
    top: 110px;
  }
  .footer_third{
    width: 300px;
    height: 200px;
    position: absolute;
    left: 350px;
    top: 100px;


  }
  .footer_third h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: white;
  }
  .footer_third a{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
  }
  .footer_third1{
    width: 300px;
    height: 200px;
    position: absolute;
    left: 640px;
    top: 100px;


  }
  .footer_third1 h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: white;
  }
  .footer_third1 a{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
  }
  .footer_third2{
    width: 500px;
    height: 200px;
    position: absolute;
    left: 840px;
    top: 100px;
  }
  .footer_third2 h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: white;
  }
  .footer_third2 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
  }
  .fb{
    width: 65px;
    height: 65px;
    position: absolute;
    top:160px;
  }
  .insta{
    width: 46px;
    height: 46px;
    position: absolute;
    top:170px;
    left: 70px;
  }
  .tw{
    width: 46px;
    height: 46px;
    position: absolute;
    top:170px;
    left: 134px;
  }
  .wt{
    width: 26px;
    height: 26px;
    position: absolute;
    top: 180px;
    left: 144px;
    background-color: white;
  }


  .footer{
      position: absolute;
      top: 2200px;
  }
  .pg-editor{
    position: absolute;
    left: 1080px;
    height: 250px;
    width: 250px;
    top: 40px;
    text-align: center;
    color: white;
    font-size: 25px;
    border: white;
    border-radius: 2px;
}

/****************************************************************BACK TO TOP******************************************************/
.top{
    position: fixed;
    bottom: 20px;
    right: 47px;
    z-index: 90;
    width: 90px;

    height: 20px;
    background-color: white;
  }
  .back{
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 99;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
  }



  /****************************************************************FONT SIZE******************************************************/


  .IncreaseFont{

      position: absolute;
      top: 60px;
      left: 85%;
      width: 60px;
      height: 30px;
  }
  .DecreaseFont{
    position: absolute;
    top: 60px;
    left: 90%;
    width: 75px;
    height: 30px;

  }


/****************************************************************FORM******************************************************/
.close{

    left: 50px;
}
.form{
    display: none;
    position: absolute;
    top: 300px;
    left: 1000px;
    transform: translate(-50%,-50%);

    width: 600px;
    height: 400px;
    background: #fff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgba(254,236,164,1);
  }

  .form h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #332902;
  }

  .form .input_field{
    margin-bottom: 10px;
  }

  .form .input_field input[type="text"],
  .form textarea{
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
  }



  .form .btn input[type="submit"]{
    border: 0px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background: #0e0155;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
  }

  #error_message{
    margin-bottom: 20px;
    background: #fe8b8e;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
  }
