* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif ;
}

header {
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Images/Background.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.upperMain{
    max-width: 1200px;
    margin: auto;
}
/* Vector Button Number 01 */
.vector1 a{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:180px;
    height:60px;
    text-align:center;
    line-height:60px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
}

.vector1 a svg,
a svg rect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    fill: transparent;
}
.vector1 a svg rect{
    stroke: #fff;
    stroke-width: 8;
    transition: 2s;
    stroke-dasharray: 500,500;
    stroke-dashoffset: 0;
}
.vector1 a:hover svg rect{
    stroke-dasharray: 100,400;
    stroke-dashoffset: 220;
    stroke: #000;
}

/* Vector Button Number 02 */

.vector2 a{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:180px;
    height:60px;
    text-align:center;
    line-height:60px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
}

.vector2 a svg,
a svg rect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    fill: transparent;
}
.vector2 a svg rect{
    stroke: #fff;
    stroke-width: 8;
    transition: 2s;
    stroke-dasharray: 500,500;
    stroke-dashoffset: 0;
}
.vector2 a:hover svg rect{
    stroke-dasharray: 100,400;
    stroke-dashoffset: 220;
    stroke: #000;
}

/* Vector Button Number03 */

.vector3 a{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:180px;
    height:60px;
    text-align:center;
    line-height:60px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
}

.vector3 a svg,
a svg rect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    fill: transparent;
}
.vector3 a svg rect{
    stroke: #fff;
    stroke-width: 8;
    transition: 2s;
    stroke-dasharray: 500,500;
    stroke-dashoffset: 0;
}
.vector3 a:hover svg rect{
    stroke-dasharray: 100,400;
    stroke-dashoffset: 220;
    stroke: #000;
}

/* Vector Button Number04 */

.vector4 a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:180px;
    height:60px;
    text-align:center;
    line-height:60px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
}

.vector4 a svg,
a svg rect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    fill: transparent;
}
.vector4 a svg rect{
    stroke: #fff;
    stroke-width: 8;
    transition: 2s;
    stroke-dasharray: 500,500;
    stroke-dashoffset: 0;
}
.vector4 a:hover svg rect{
    stroke-dasharray: 100,400;
    stroke-dashoffset: 220;
    stroke: #000;
}
/*Vector Button Number 5*/
.vector5 a{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:180px;
    height:60px;
    text-align:center;
    line-height:60px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
}

.vector5 a svg,
a svg rect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    fill: transparent;
}
.vector5 a svg rect{
    stroke: #fff;
    stroke-width: 8;
    transition: 2s;
    stroke-dasharray: 500,500;
    stroke-dashoffset: 0;
}
.vector5 a:hover svg rect{
    stroke-dasharray: 100,400;
    stroke-dashoffset: 220;
    stroke: #000;
}
.vector6 a{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:180px;
    height:60px;
    text-align:center;
    line-height:60px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
}

.vector6 a svg,
a svg rect{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    fill: transparent;
}
.vector6 a svg rect{
    stroke: #fff;
    stroke-width: 8;
    transition: 2s;
    stroke-dasharray: 500,500;
    stroke-dashoffset: 0;
}
.vector6 a:hover svg rect{
    stroke-dasharray: 100,400;
    stroke-dashoffset: 220;
    stroke: #000;
}
.MAINBOX{
  background-color: black;
  position: absolute;
  width: 100%;
  top: 700px;
  height: 300px;
}
.pg-editor{
    position: absolute;
    left: 1080px;
    height: 250px;
    width: 250px;
    top: 40px;
    text-align: center;
    color: white;
    font-size: 21px;
    border: white;
    border-radius: 2px;
}
